/*Zerando a pagina do navegador*/
*{
    margin: 0px;
}

#estrutura{
    background-color: white; /*cor de fundo*/
    width: 90%; /*largura*/
    margin-left: auto; /* margem a esquerda*/
    margin-right: auto; /* margem a direita*/
}
#estrutura #titulo{
    background-image: url("../IMAGENS/cafe2.jpg"); /* imagem dentro do titulo*/
    background-position: -400px -380px; /*posisção x, y*/
    color: white;
    font-size: 15pt;
    font-family: arial;
    padding-top: 10px; /*espaçamento no topo*/
    padding-left: 10px; /*espaçamento a esquerda*/
    height: 350; /*altura*/
}
/*criando uma classe no css, chamada titulo*/
.titulo{
    margin-top: 400px;
}
p{
    text-align: justify; /*parágrafo*/
    text-indent: 20px; /*recuo de parágrafo*/
    font-family: century gothic;
    font-size: 14pt;
}
#estrutura #menu ul{
     padding: 0px;/*espaçamento*/
}
#estrutura #menu li{
    /*Retirar as marcas do marcador*/
    list-style: none;
    /*alinhar os links na horizontal*/
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    height: 50vw;
}
#estrutura #menu a{
    /* href */
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: white;
    background-color: #800;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
#estrutura #menu a:hover{  /*passar o mouse por cima*/
    background-color: #ff8;
    color: #800;
}
#estrutura #menu a.atual{ /*item de menu selecionado*/
    background-color: #ff9900;
}
#estrutura #conteudo h2{
    font-family: arial;
    font-size: 14pt;
    padding: 10px;
}
/*formatação para o texto*/
#estrutura #conteudo .textohome{
    font-family: time new roman;
    font-size: 14pt;
    line-height: 14pt;
    padding-left: 20px;
} 
#rodape{
    padding: 20px 0px;
    font-family: Arial ;
    background-color: #800;
    color: #fff;
    height: 60px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#estrutura #conteudo .imghome img{
    width: 300px;
    height: 200px;
    margin: 30px;
}
